.scroll-to-next {
    cursor: pointer;

}
    .arrow bounce {
      text-align: center;
      margin: 0 auto;
      padding-bottom: 0.5rem;
      animation: bounce 2s infinite;
      cursor: pointer;

      }
    
    .bounce {
      animation: bounce 2s infinite;
    } 

    .scroll-text {
        cursor: pointer;
    
    }

   
   
    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
